// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~paymentfont/sass/paymentfont";

.table-component__filter__clear {
  visibility: hidden;
}

.search-input {
  height: 40px;

  &:active {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.menu-link {
  line-height: 1.6;
  text-align: center !important;
  margin:auto 0 !important;

  &:hover {
    text-decoration: none;
    color: #c69500;
  }
}